
@font-face {
    font-family: "headerText";
    src: url(fonts/ARRRMB.woff);
}

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #fffffc;
    color: white;


  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
}

#Form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

form{
    width: 80%;
    max-width: 850%;
}

#formField{
    display: flex;
    flex-direction: column;
}

legend{
    text-align: center;
}



img#logo {
    height: 100px;
}

input{
    appearance: none;
    border: 1px dotted white;
    background-color: #3f413f;
    color: white;
}
input:hover{
    background: #646363;
}

input:invalid{
    border: 1px solid rgb(134, 55, 2);
}


fieldset{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    width: 100%;
    border: none;
}


h1,
legend{
    font-family: "headerText";
    font-size: 2em;
}

div#mainMessage{
    width: 75ch;
    text-align: center;

}

.container{
    display: flex;
    height: 100vh;
    max-height: 100vh;
    min-width: 100%;
}

.maincontent{
    display: flex;
    background-color: #0d0d0d;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 50px solid rgb(0 0 0 / .2);
}

#sideBar {
    background-image: url(pictures/backgroundImg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-style: hidden;
    width: 45%;
    height: 100vh;
}

.account{
    display: flex;
    flex-direction: column;
}

button{
    width: 150px;
    background: #3f413f;
    color: white;
}

button:hover{
    background: #0d0d0d;
    color: white;
}