
@font-face {
    font-family: "headerText";
    src: url(fonts/ARRRMB.woff);
}

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
}

form{
    width: 850px;
}


img#logo {
    height: 100px;
}

input{
    appearance: none;
}
input:required{
    border: 1px solid white;
    background: orange;
}

fieldset{
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

fieldset > div{
    background-color: rgb(255 165 0 / .5)  ;
}

h1,
legend{
    font-family: "headerText";
    font-size: 2em;
}

div#mainMessage{
    width: 75ch;

}

.container{
    display: flex;
    height: 100vh;
    max-height: 100vh;
    min-width: 100%;
}

#maincontent{
    flex: 1;
}

#sideBar {
    display: flex;
    background-image: url(pictures/backgroundImg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 45%;
    height: 100vh;
    align-content: center;
    justify-content: center;
}

